<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- standard output to console -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="org.lsc.utils.output.LdifLayout">
				<Pattern>%date{MMM dd HH:mm:ss} - %-5level - %message%n</Pattern>
			</layout>
		</encoder>
	</appender>

	<logger name="org.reflections" level="WARN" additivity="false">
		<appender-ref ref="CONSOLE"/>
	</logger>
	<logger name="org.lsc" level="INFO" additivity="false">
		<appender-ref ref="CONSOLE"/>
	</logger>
	<logger name="org.apache" level="WARN" additivity="false">
		<appender-ref ref="CONSOLE"/>
	</logger>
	<logger name="ch.qos.logback" level="WARN" additivity="false">
		<appender-ref ref="CONSOLE"/>
	</logger>
	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
	</root>
</configuration>
