[Unit]
Description=Run LSC jobs

[Service]
Type=oneshot
EnvironmentFile=/etc/default/lsc
ExecStart=/usr/bin/lsc -f ${LSC_CONFIG_DIR} ${LSC_SYNC_TASKS} ${LSC_ASYNC_TASKS} ${LSC_CLEAN_TASKS} ${LSC_EXTRA_ARGS}
User=lsc
Group=lsc

PrivateTmp=true
PrivateDevices=true
ProtectSystem=strict
ProtectKernelTunables=yes
ProtectControlGroups=yes
ReadWritePaths=/var/log/lsc
UMask=0007

[Install]
WantedBy=multi-user.target
