Source: lsc
Section: java
Priority: optional
Maintainer: Clement Oudot <clem.oudot@gmail.com>
Build-Depends: debhelper (>> 7)
Standards-Version: 3.9.5
Homepage: https://lsc-project.org/
Vcs-Git: https://github.com/lsc-project/lsc.git
Vcs-Browser: https://github.com/lsc-project/lsc

Package: lsc
Architecture: all
Depends: ${misc:Depends}
Description: LDAP Synchronization Connector
 LSC offers a powerful transformation engine, based on a scripting language, 
 to easily manipulate data on the fly. Various identity management functions 
 are included for directory-specific compatibility - most notably Active Directory
 (changing passwords, account status, last logon, etc ...). LSC is an open source
 project written in Java, available under the BSD license.
