#!/usr/bin/make -f

# Put depended upon jars in here
# export CLASSPATH=

%:
	dh $@ 

override_dh_compress:

override_dh_testdir:
	# systemd
	cp -f lib/systemd/system/lsc-async.service debian/
	cp -f lib/systemd/system/lsc-async@.service debian/
	cp -f lib/systemd/system/lsc-sync.service debian/
	cp -f lib/systemd/system/lsc-sync.timer debian/
	cp -f lib/systemd/system/lsc-sync@.service debian/
	cp -f lib/systemd/system/lsc-sync@.timer debian/
	cp -f etc/default/lsc-async debian/lsc-async.default
	cp -f etc/default/lsc-sync debian/lsc-sync.default
	dh_testdir

override_dh_installsystemd:
	dh_installsystemd --no-start --no-enable --no-stop-on-upgrade --name=lsc-async
	dh_installsystemd --no-start --no-enable --no-stop-on-upgrade --name=lsc-async@
	dh_installsystemd --no-start --no-enable --no-stop-on-upgrade --name=lsc-sync
	dh_installsystemd --no-start --no-enable --no-stop-on-upgrade --name=lsc-sync@
	dh_installsystemd --name=lsc-sync.timer
	dh_installsystemd --name=lsc-sync@.timer


override_dh_install:
	dh_install
	# Copy configuration files
	mkdir -p `pwd`/debian/lsc/var/lib/lsc
	mkdir -p `pwd`/debian/lsc/etc/lsc/sql-map-config.d
	cp -a etc/logback.xml `pwd`/debian/lsc/etc/lsc/logback.xml
	cp -a etc/lsc.xml-sample `pwd`/debian/lsc/etc/lsc/lsc.xml
	cp -a etc/sql-map-config.xml-sample `pwd`/debian/lsc/etc/lsc/sql-map-config.xml
	cp -a etc/sql-map-config.d/InetOrgPerson.xml-sample `pwd`/debian/lsc/etc/lsc/sql-map-config.d/InetOrgPerson.xml
	# Remove useless windows .bat files
	find debian/lsc -type f -name '*.bat' -delete
	# Reconfigure files
	## logback
	sed -i -e 's:\${TMP_DIR}:/var/log/lsc:' \
		`pwd`/debian/lsc/etc/lsc/logback.xml
	## bin
	sed -i \
		-e 's:^CFG_DIR.*:CFG_DIR="/etc/lsc":' \
		-e 's:^LIB_DIR.*:LIB_DIR="/usr/lib/lsc":' \
		-e 's:^COMPILER_DIR.*:COMPILER_DIR="/usr/lib/lsc-compiler":' \
		-e "s:^LOG_DIR.*:LOG_DIR=\"/var/log/lsc\":" \
		`pwd`/debian/lsc/usr/bin/lsc \
		`pwd`/debian/lsc/usr/bin/lsc-agent \
		`pwd`/debian/lsc/usr/bin/hsqldb
	sed -i \
		-e 's:^VAR_DIR.*:VAR_DIR="/var/lib/lsc":' \
		-e 's:^HSQLDB_PIDFILE.*:HSQLDB_PIDFILE="/run/hsqldb.pid":' \
		`pwd`/debian/lsc/usr/bin/hsqldb

