<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="org.lsc.utils.output.LdifLayout">
				<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
				</Pattern>
			</layout>
		</encoder>
	</appender>

	<logger name="org.apache" level="WARN" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>
	<root level="debug">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
